clouds.yaml
cloud.conf
cloud-config-secret.yaml
*kubeconfig.yaml
.s3cfg
s3-credentials.json
service-account.json
github-token
cherrypick-bot-github-token
hmac-token
capi-visualizer/charts
output.yaml
tmp

.venv

Metal3/images
disk-images

ironic-auth-config
ironic-inspector-auth-config
ironic-htpasswd
ironic-inspector-htpasswd
ironic-password
ironic-username
ironic-inspector-password
ironic-inspector-username

ClusterResourceSets/calico.yaml
ClusterResourceSets/cloud-provider-openstack.yaml
