clouds.yaml
cloud.conf
kubeconfig.yaml
.s3cfg
s3-credentials.json
service-account.json
github-token
cherrypick-bot-github-token
hmac-token
capi-visualizer/charts
output.yaml

.venv

Metal3/images

ironic-auth-config
ironic-inspector-auth-config
ironic-htpasswd
ironic-inspector-htpasswd
ironic-password
ironic-username
ironic-inspector-password
ironic-inspector-username
