apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineDeployment
metadata:
  name: md-k3s-1
  namespace: default
  labels:
    cluster.x-k8s.io/cluster-name: k3s-1
    nodepool: nodepool-0
spec:
  clusterName: k3s-1
  replicas: 0
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: k3s-1
      nodepool: nodepool-0
  rollout:
    strategy:
      rollingUpdate:
        maxSurge: 0
        maxUnavailable: 1
      type: RollingUpdate
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: k3s-1
        nodepool: nodepool-0
    spec:
      clusterName: k3s-1
      version: v1.34.1+k3s1
      bootstrap:
        configRef:
          name: k3s-1-workers
          apiGroup: bootstrap.cluster.x-k8s.io
          kind: KThreesConfigTemplate
      infrastructureRef:
        name: k3s-1-workers
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: Metal3MachineTemplate
