apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/controller-manager/cloud-controller-manager-roles.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
- https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/v1.34.1/manifests/cinder-csi-plugin/csi-cinder-driver.yaml
- storageclass.yaml

patches:
# OCCM has changed the nodeSelector to expect the value "true".
# Reverting here to match default kubeadm behavior.
- target:
    kind: DaemonSet
    name: openstack-cloud-controller-manager
  patch: |-
    - op: replace
      path: /spec/template/spec/nodeSelector
      value:
        node-role.kubernetes.io/control-plane: ""
