apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineDeployment
metadata:
  name: lennart-test-md-0
spec:
  clusterName: lennart-test
  replicas: 1
  template:
    spec:
      bootstrap:
        configRef:
          apiGroup: bootstrap.cluster.x-k8s.io
          kind: KubeadmConfigTemplate
          name: lennart-test-md-0
      clusterName: lennart-test
      failureDomain: nova
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: OpenStackMachineTemplate
        name: lennart-test-plain
      version: v1.35.0
