body {
	text-align: center;
	line-height: 1.5 !important; 
}

.reveal .slide-background.l-cover:before {
	background: rgba(0, 0, 0, 0) !important;
}

#logos p {
	display: flex;
	width: 100%;
}
#logos p img {
	margin: 50px;
	position: relative;
	width: 6vw;
	height: 6vw;
}
.left {
	margin: 10px 0 15px 0;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
}

section a {
	text-decoration: none !important;
	color: #fff !important;
}

.right {
	line-height: 2.5;
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
}

.right ul {
	line-height: 1.5; 
}

li a {
	list-style-type: none;
}

img {
	margin-top: 5px !important;
	max-height: 40vh !important;
}
